

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add new employee
            </a>
        </div>
    </div>
    <br /> 

<table id="tblData" class="table table-bordered table-striped" style="width:100%" ">
    <thead>
        <tr>            
            <th>Employee Number</th>
            <th>First Name</th>
            <th>Other Names</th>
            <th>Surname</th>
            <th>Date of birth</th>
            <th>Salary</th>
            <th>Level</th>
            <th>Role</th>
            <th>Manager Names</th>
            <th> </th>
        </tr>
    </thead>
</table>
</div>

@section Scripts 
{
    <script src="/js/employee.js"></script>
}