@{
    ViewData["Title"] = "Home Page";
}

<div class="col-6 text-end">
    <br />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-primary" >
        <i class="bi bi-eye"></i> &nbsp; View employees
    </a>
</div>

<div class="col-6 text-end">
    <br />
    <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> &nbsp; Add an employee
    </a>
</div>

<div class="col-6 text-end">
    <br />
    <a asp-controller="" asp-action="" class="btn btn-primary">
        <i class="bi bi-border-style"></i> &nbsp; View organization hierarchy
    </a>
</div>