@model Employee

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add a new employee</h2>
        </div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for ="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control"/>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control" type="text" id="datepicker"/>
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control"/>
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>      
        <div class="mb-3">
            <label asp-for="Role"></label>
            @*<select asp-for="Role" class="form-control" asp-items="Model.Roles"></select>*@
            <input asp-for="Role" class="form-control dropdown" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
       </div>
        <div class="mb-3">
            <label asp-for="ManagerNames"></label>
            <input asp-for="ManagerNames" class="form-control" />
            <span asp-validation-for="ManagerNames" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ManagerID"></label>
            <input asp-for="ManagerID" class="form-control" />
            <span asp-validation-for="ManagerID" class="text-danger"></span>
        </div>
        

        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}

